body {
  font-family: 'Coiny', cursive;
}
.popup {
  margin-top: 10px;
  padding: 5px;
}
.google {
  position: relative;
  background: green;
  width: 250px;
}
.list {
  position: relative;
  background: yellow;
  width: 180px;
}
.CantHoldThisHans{
  font-family: 'Consolas';
  font-size: 14px;
  background-color: black;
  color: #c1c1c1;
  width: 1540px;
  height: 1765px;
}
.janne {
  background-image: url('../images/janne.jpg');
  position: relative;
  background-size: cover;
  height: 600px;
  width: 350px;
}
.ounou {
  background-image: url('../images/isä poika ja pyhä responsiivisuus.png');
  background-size: cover;
  position: relative;
  height: 600px;
  width: 350px;
}
.mielenhallintakakkara {
  position: relative;
  width: 855px;
  height: 955px;
}
.respo {
  position: absolute;
  top: 24px;
  left: 24px;
  background: cyan;
  width: 477px;
}
.nörttinurkka {
  margin-bottom: 15px;
}
.oikAla {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.miinaharava-parent {
  position: relative;
  height: 480px;
  width: 400px;
  background-color: #c1c1c1;
}
#miinakenttä {
  position: absolute;
  top: 60px;
  left: 5px;
}
#miinaNaama {
  position: absolute;
  top: 5px;
  left: 180px;
}
.suljeMiina {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
.uusiPeli {
  position: absolute;
  bottom: 5px;
  left: 5px;
}
.😂 {
  position: absolute;
  background: url("../images/face-with-tears-of-joy.png");
  background-size: cover;
  height: 100px;
  width: 100px;
  color: rgba(0,0,0,0);
  bottom: 5px;
  right: 5px;
}
.gKyllä {
  margin-top: 3px;
  position: absolute;
  bottom: 5px;
  left: 5px;
}
.gEi {
  margin-top: 3px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
